#copyright {
	font-size:10pt;
	width:600px;
	text-align:center;
	margin:auto;
}

#copyright a {
	text-decoration:none;
	color:#007088;
}

#copyright a:visited {
	text-decoration:none;
	color:#007088;
}

h1 {
	font-family:'Marck Script', cursive;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	margin-bottom:0.5em;
	font-size:5em;
}

h2 {
	margin-bottom:1em;
	font-family:'Marck Script', cursive;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	font-size:24pt;
}

body {
	background-image:url(http://chyo.ru/back-arrow.png);
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-position:100% 0px;
	background-position-x:100%;
	background-position-y:0;
}

#mainblock {
	width:600px;
	-webkit-box-shadow:rgb(136, 136, 136) 5px 5px 5px;
	box-shadow:rgb(136, 136, 136) 5px 5px 5px;
	-o-box-shadow:rgb(136, 136, 136) 5px 5px 5px;
	-ms-box-shadow:rgb(136, 136, 136) 5px 5px 5px;
	-moz-box-shadow:rgb(136, 136, 136) 5px 5px 5px;
	opacity:0.75;
	background-color:#FDFDFA;
	border-image:initial;
	border-bottom-style:none;
	border-right-style:none;
	border-bottom-width:0;
	border-right-width:0;
	border-left:1px solid #9C9C9C;
	border-top:1px solid #9C9C9C;
	margin:2em auto 2em auto;
	padding:0em 1em 1em 1em;
}

code {
	font-family:serif;
	color:#007088;
}

