<!DOCTYPE html>
<meta charset="utf-8" />
<script>window.site_uniq_id = 'b026324c6904b2a9cb4b88d6d61c81d1';</script>
<script data-main="js/main" src="js/libs/require.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<title>Iframe</title>

<!--
Этот файл не удалять
он нужен для тестирования
по сути здесь копия views/index.html только со своим site_uniq_id
-->

<div id="kittycheck-container"></div>

<script type="text/html" id="checkin_message_tmpl">
    <div class="checkin-message">
        Ура! Ты зачекинился тут <span class="checkin-count"><%= checkins %></span>-м!
        <br /><br />
        <button class="btn btn-primary show-comments">Показать комментарии</button>
    </div>
</script>

<script type="text/html" id="comments_page_tmpl">
    <form action="" id="send-comment">
        <div class="form">
            <textarea placeholder="Напишите сюда хороший комментарий"></textarea>
            <button class="btn btn-primary send" type="submit" title="Ctrl+Enter">Отправить</button>
            <div class="send-loader"></div>
        </div>
    </form>
    <div id="messages-container"></div>
    <div class="loader"></div>
</script>

<script type="text/html" id="comment_tmpl">
    <div class="comment">
        <div class="header">
            <a href="https://twitter.com/<%= author.login %>" target="_blank" class="account">
                <img src="https://api.twitter.com/1/users/profile_image?screen_name=<%= author.login %>&size=normal" 
                     alt="<%= author.login %>" class="avatar" />
                <strong class="fullname"><%= author.name %></strong>
                <span class="username">
                    <s>@</s><b><%= author.login %></b>
                </span>
            </a>
            <small class="time"><%= datetime %></small>
        </div>
        <p class="text"><%=text%></p>
    </div>
</script>