Flask==0.10.1
Flask-OAuth==0.12
Flask-PyMongo==0.3.0
Jinja2==2.7.2
Markdown==2.3.1
MarkupSafe==0.18
Werkzeug==0.9.4
argparse==1.2.1
bleach==1.4
html5lib==0.999
httplib2==0.8
itsdangerous==0.23
oauth2==1.5.211
pymongo==2.6.3
requests==2.2.0
simplejson==3.3.2
six==1.5.2
wsgiref==0.1.2
