<!DOCTYPE html>
<meta charset="utf-8" />
<script>window.site_uniq_id = '@@site_uniq_id@@';</script>
<script data-main="js/main" src="js/libs/require.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<title>Iframe</title>

<div id="kittycheck-container"></div>

<script type="text/html" id="checkin_message_tmpl">
    <div class="checkin-message">
        Ура! Ты зачекинился тут <span class="checkin-count"><%= checkins %></span>-м!
        <br /><br />
        <button class="btn btn-primary show-comments">Показать комментарии</button>
    </div>
</script>

<script type="text/html" id="checkin_message_tmpl">
    <form action="">
        <div class="form">
            <textarea></textarea>
            <button class="btn btn-primary send" type="submit">Отправить</button>
            <button class="btn cancel">Отменить</button>
        </div>
    </form>
    <div id="messages-container"></div>
    <div class="loader"></div>
</script>

