<!DOCTYPE html>
<meta charset="utf-8" />
<script>window.site_uniq_id = '@@site_uniq_id@@';</script>
<script data-main="js/main" src="js/libs/require.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<title>Iframe</title>

<div id="kittycheck-container"></div>

<script type="text/html" id="checkin_message_tmpl">
    <div class="checkin-page">
        <div class="checkin-message">
            Ура! Ты погладил кота <span class="checkin-count"><%= checkins %></span>-м!
        </div>
        <div class="auth-message">
          <button class="btn btn-primary sign-in">Авторизироваться через <b>twitter</b></button>
          <small>Авторизируйтесь чтобы писать комментарии</small>
        </div>
    </div>
</script>

<script type="text/html" id="comments_page_tmpl">
    <div class="checkin-message-c">
        Ура! Ты погладил кота <span class="checkin-count"></span>-м!
    </div>
    <form action="" id="send-comment">
        <div class="form">
            <textarea placeholder="Напишите сюда хороший комментарий"></textarea>
            <button class="btn btn-primary send" type="submit" title="Ctrl+Enter">Отправить</button>
            <div class="send-loader"></div>
        </div>
    </form>
    <div id="messages-container"></div>
    <div class="loader"></div>
</script>

<script type="text/html" id="comment_tmpl">
    <div class="comment">
        <div class="header">
            <a href="https://twitter.com/<%= author.login %>" target="_blank" class="account">
                <img src="https://api.twitter.com/1/users/profile_image?screen_name=<%= author.login %>&size=normal"
                     alt="<%= author.login %>" class="avatar" />
                <strong class="fullname"><%= author.name %></strong>
                <span class="username">
                    <s>@</s><b><%= author.login %></b>
                </span>
            </a>
            <small class="time"><%= datetime %></small>
        </div>
        <p class="text"><%=text%></p>
    </div>
</script>
