<html><head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<meta name="author" content="Grigory Bakunov" >
		<meta name="description" content="Китичек - это виджет для вашего сайта, позволяющий пользователям умиляться каждый раз, когда они к вам заходят. Кроме того, нажимая на китечку, можно отметиться, что ты был на сайте (зачекиниться) и оставить комментарий, предварительно авторизовавшись через твиттер." >
		<meta name="keywords" content="kitty check, site checkin, sites check-in, китичек, кити чек, котики бесплатно скачать" >
		<link href="/css/site.css" rel="stylesheet" type="text/css" >
		<title>Kitty Check</title>
        <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- Code Snippet -->
        <meta name="kittycheck_position" content="top=30,right=30" >
        <meta name="kittycheck_checkin_color" content="#f02020" >
	    <meta name="kittycheck_rumble" content="true" >
	    <script src="http://kittycheck.com/js/inject.js" ></script>
<!-- Code Snippet -->
	</head>
	<body>

<div id="mainblock" >
@@internal@@
</div>

<div id="copyright" ><a href="http://github.com/bobuk" >bobuk</a>, <a href="https://github.com/gornostal" >gornostal</a>, <a href="http://github.com/syndicut" >syndicut</a>. 2012 © КОТировать разрешено, при сохранении авторства!</div>

<!-- Code Snippet -->

<script type="text/javascript" >
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');t.type  = 'text/javascript';t.async = true;t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4fc3ba34f5a1f5540a000001');t.src = '//secure.gaug.es/track.js';var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!-- Code Snippet -->
</body></html>
